/* Montserrat */
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('#{$path-fonts}/Montserrat/Montserrat-Light.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
		url('#{$path-fonts}/Montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
		url('#{$path-fonts}/Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('#{$path-fonts}/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
		url('#{$path-fonts}/Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Italic'), local('Montserrat-Italic'),
		url('#{$path-fonts}/Montserrat/Montserrat-Italic.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('#{$path-fonts}/Montserrat/Montserrat-Bold.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
		url('#{$path-fonts}/Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
		url('#{$path-fonts}/Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
		url('#{$path-fonts}/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('#{$path-fonts}/Montserrat/Montserrat-Regular.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('#{$path-fonts}/Montserrat/Montserrat-Medium.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('#{$path-fonts}/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('#{$path-fonts}/Montserrat/Montserrat-Black.woff2') format('woff2'),
		url('#{$path-fonts}/Montserrat/Montserrat-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}